// Body
$body-bg: #fff;
$header-bg: #e9ebee;
$headDropdown-bg: #f4f5f7;

// @media width
$min-mobile: 320px;
$max-mobile: 719px;

$min-tablet: 720px;
$max-tablet: 1025px;

// Typography
$font-family: "Proxima Nova", sans-serif;
$font-family-condensed: "din_condensed", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$company-color: #ce0000;
$text-color: #000;
$white-color: #fff;
$yellow-color: #ffbe3c;
$border-color: #000;
$hr-color: #d9d9d9;

// Gradients
$yellow-bg: linear-gradient(180deg, #ffbe3c 40%, #ffa928 60%, #ffa928 65%, #ff9e1c);
$yellow-hover-bg: linear-gradient(175deg, #ffbe3c 40%, #ffa928 60%, #ffa928 65%, #ff9e1c);
$purple-bg: linear-gradient(90deg, #8e73e8 35%, #947cec 65%, #8e73e8);

// Margin
$headerHeight: 110px;

// Border radius
$borderRadius: 5px;

// Animation
$anim-03: 0.3s;
@mixin animate-03 ($anim-03) {
	-moz-transition: all $anim-03 ease-in-out;
	-o-transition: all $anim-03 ease-in-out;
	-webkit-transition: all $anim-03 ease-in-out;
}