* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html,
body {
  height: 100%;
  margin: 0 !important;
}

body {
  font-size: 15px;
  line-height: 1;
  font-family: "Proxima Nova", sans-serif;
  color: #000;
  font-style: normal;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1 0 auto;
}

footer {
  flex: 0 0 auto;
}

div {
  box-sizing: border-box;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

ins {
  background-color: #ff9;
  color: #ccc;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color: #ccc;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.readonly,
[readonly] {
  pointer-events: none;
}

.disabled,
[disabled] {
  pointer-events: none;
  opacity: 0.5;
}

::-webkit-search-decoration,
::-webkit-search-cancel-button,
::-webkit-search-results-button,
::-webkit-search-results-decoration {
  display: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

@media (min-width: 1025px) {
  a[href^=tel] {
    pointer-events: none;
  }
}

p {
  line-height: 1.4;
}

p + p {
  margin-top: 10px;
}

sub {
  vertical-align: text-top;
}

ul {
  display: inline-block;
  width: 100%;
  list-style: none;
}

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: bottom;
  border: none;
}

svg:not(:root) {
  display: inline-flex;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
  pointer-events: none;
}

[class*=icon] {
  width: 1em;
  height: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  fill: currentColor;
}

input,
select {
  vertical-align: middle;
}

input:focus,
select:focus,
input[type=checkbox]:focus + label:before {
  content: "";
  box-shadow: inset 2px 2px 1px rgba(206, 0, 0, 0.5) !important;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

select::-ms-expand {
  display: none;
}

textarea {
  display: inline-block;
  overflow: hidden;
  resize: vertical;
  vertical-align: bottom;
}

textarea,
[type=url],
[type=text],
[type=email],
[type=search],
[type=password] {
  vertical-align: bottom;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  -webkit-appearance: none;
}

textarea:-webkit-autofill,
[type=url]:-webkit-autofill,
[type=text]:-webkit-autofill,
[type=email]:-webkit-autofill,
[type=search]:-webkit-autofill,
[type=password]:-webkit-autofill {
  -webkit-animation-name: autofill;
  -webkit-animation-fill-mode: both;
}

@-webkit-keyframes autofill {
  to {
    background: transparent;
  }
}

::-moz-selection {
  background: #ce0000;
  /* Safari */
  color: #fff;
}

::selection {
  background: #ce0000;
  /* Safari */
  color: #fff;
}

::-moz-selection {
  background: #ce0000;
  /* Firefox */
  color: #fff;
}

label,
[type=radio],
[type=submit],
[type=checkbox],
button:not(:disabled) {
  cursor: pointer;
}

button,
[type=submit] {
  font-size: inherit;
  color: inherit;
  border: 0;
  background: none;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  color: inherit;
}

h1,
.h1 {
  position: relative;
  margin-bottom: 30px;
  color: #000;
  font-size: 2.3em;
}

@media screen and (max-width: 719px) {
  h1,
  .h1 {
    padding: 0 20px;
    font-size: 1.3em;
  }
}

.spacer {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.hidden {
  display: none;
}

.centerFlex {
  display: flex;
  justify-content: center;
}

.sectionBox {
  padding: 25px 0;
}

.btn {
  padding: 21px;
  border-radius: 5px;
  background: transparent;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.btn:hover {
  opacity: 0.95;
}

.btn:focus {
  position: relative;
}

.btn:focus:before {
  content: "";
  position: absolute;
  left: calc(50% - 4px);
  bottom: 5px;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.btn-yellow {
  background: linear-gradient(180deg, #ffbe3c 40%, #ffa928 60%, #ffa928 65%, #ff9e1c);
  color: #fff;
}

.btn-yellow:hover {
  background: linear-gradient(175deg, #ffbe3c 40%, #ffa928 60%, #ffa928 65%, #ff9e1c);
}

.btn-bay {
  width: 255px;
  font-weight: 600;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.container {
  width: 100%;
  min-width: 320px;
  max-width: 1205px;
  margin: 0 auto;
}

.head--topline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 110px;
  padding: 65px 20px 0;
  color: #fff;
}

.head--topline a {
  color: #fff;
  font-size: 1.25em;
  white-space: nowrap;
  letter-spacing: 1px;
}

.head--topline a:focus {
  position: relative;
}

.head--topline a:focus:before {
  content: "";
  position: absolute;
  right: -5px;
  top: 20%;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background: #fff;
}

.head--logo {
  flex-shrink: 0;
  width: 273px;
  height: 45px;
  background: url(/images/logo.png?da291201e0f057d8011575a2b161e329) no-repeat;
}

.head--mail {
  position: relative;
  margin-right: 60px;
}

.head--mail:after {
  content: "";
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 5px;
  height: 1px;
  background: #fff;
  opacity: 1;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}

.head--mail:hover:after {
  left: 50px;
  right: 50px;
  opacity: 0;
}

.headSlide--item {
  width: 100%;
  min-height: 100vh;
  padding-top: calc(110px + 70px);
  padding-bottom: 70px;
  color: #fff;
  text-align: center;
}

.headSlide .firstSlide {
  background: url(/images/first_slide_bg.jpg?e6a7ffc0c93961c4433479b6b1b5c15b) no-repeat;
  background-size: cover;
}

.headSlide--box {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
}

.headSlide--title,
.headSlide--subtitle {
  margin-bottom: 45px;
  color: #fff;
  font-size: 2.7em;
}

.headSlide--title {
  font-weight: 600;
  letter-spacing: -1px;
}

.headSlide--subtitle {
  font-family: "din_condensed", sans-serif;
  font-weight: bold;
  line-height: 1.5em;
  letter-spacing: 3px;
}

.headAction--box {
  position: relative;
  font-size: 1.35em;
  font-weight: 600;
}

.headAction--box:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 100%;
  width: 260px;
  height: 260px;
  background: transparent url(/images/star.png?cc97a1e4e32da7a4f620bbe3f94e23e1) no-repeat center center;
}

.headAction--before {
  margin-bottom: 35px;
}

.headAction--after {
  margin-bottom: 53px;
  line-height: 1.8em;
}

.headAction--itemBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.headAction--item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 33.33333%;
  height: 80px;
}

.headAction--item_image {
  background: transparent url(/images/oval_1.png?4044d585f2f272a52366c5ca1d412406) no-repeat center center;
}

.headAction--item_text {
  background: transparent url(/images/oval_2.png?da21fd0af61e9a656e97ed613a229f09) no-repeat center center;
}

.headAction--item_audio {
  background: transparent url(/images/oval_3.png?235e77507b07b53caf2f57481a913793) no-repeat center center;
}

